[global]
###### SD ELements settings  ######
#SD Elements server name, includes port
server = m1.sdelements.com

#SD Elements user login email
email = user@example.org

#SD Elements user password
password = sde_passwords_goes_here

#SD Elements application
application = Mingle Test

#SD Elements project
project = V2

###### Mingle settings  ######
#Mingle Server name, includes port
alm_server = eval.thoughtworks-studios.com/security-compass

#HTTP or HTTPs protocol
alm_method = http
              
#Username for Mingle user that can:
# -create new issues for the project
# -read existing issues in the project
# -create transitions on issues (e.g. close an issue)
alm_id = alm_user_name
              
#Password for above user. Note that this will be encrypted
#in future versions of the plugin
alm_password = alm_password
              
######Project settings######
#Mingle project identifier
alm_project = project_id

#A comma-delimited list of statuses for tasks
#that you wish to import into the ALM.
#For example, if you only want to synchronize
#tasks that are currently TODO in SD Elements
#then just enter TODO
#Valid values are:
#TODO,DONE,NA
sde_statuses_in_scope = TODO,DONE,NA

#Should HowTos be included in what's added
#to the ALM tools?
#Valid values are:
#True or False
how_tos_in_scope = True
          
#SD Elements has the ability to map status 
#of a Mingle story to an SD Elements task.
#This can be non-trivial if workflow is
#customized. If this value is set to True
#then the plugin will attempt to synchronize
#task statuses. If not, then the plugin
#will simply add new tasks from SD Element
#into the Mingle project without attempting
#to synchronized task status
#Valid values: True, False
alm_standard_workflow = True

#card type for new cards created by SD Elements
mingle_card_type = Story

#Initial 'status' to set for a new card
mingle_new_status = Ready for Analysis

#a comma delimited list of statuses that signify a task is Done in Mingle
#Note the first one will be used by SD Elements when representing a Done task
#in SD Elements inside of Mingle
mingle_done_statuses = Ready for Testing,In Testing,Ready for Signoff,Accepted 

#SD Elements task phases that are in scope.
#Valid values: comma separated list-
#requirements,architecture-design,development,testing
#NOTE: please do not include any spaces in task names
alm_phases = requirements

#Which system takes precedence in case of
#confliciting status. For example, if you mark
#an issue as Closed in Mingle and the task is TODO in
#SD Elements, it will be changed to DONE in SD Elemenets.
#If you mark a task as Done in SD Elements, but it's still
#Open in Mingle, the task will automatically revert back
#to TODO in SD Elements.
#Valid values:
#alm -> ALM tool (i.e Mingle) takes precedence
#sde -> SDE takes precedence
#timestamp -> Last modified system takes precedence. NOTE:
#support for timestamp is still expirimental because of lack
#timezone support
conflict_policy = alm


######Base settings, do not modify######
method = https
targets =  .
debug =  0
skip_hidden = True
interactive =True
askpasswd = False
auth_mode = basic
