[global]
###################################################
#### SD Elements server and project settings  #####
###################################################
#SD Elements server name, includes port
server = m1.sdelements.com

#SD Elements user login email
email = user@example.org

#SD Elements user password
password = userpassword

#SD Elements application
application = SDEapp

#SD Elements project
project = SDEproj

###################################################
#### JIRA server and project settings         #####
###################################################

#JIRA Server name, includes port
alm_server = jira_server

#HTTP or HTTPs protocol
alm_method = https
              
#Username for JIRA user that can:
# -create new issues for the project
# -read existing issues in the project
# -create transitions on issues (e.g. close an issue)
alm_id = jira_user
              
#Password for above user. Note that this will be encrypted
#in future versions of the plugin
alm_password = jira_passsword
              
#JIRA project key
alm_project = JIRAPROJECT
          
#A comma-delimited list of statuses for tasks
#that you wish to import into the ALM.
#For example, if you only want to synchronize
#tasks that are currently TODO in SD Elements
#then just enter TODO
#Valid values are:
#TODO,DONE,NA
sde_statuses_in_scope = TODO,DONE,NA

#SD Elements task phases that are in scope.
#Valid values: comma separated list-
#requirements,architecture-design,development,testing
#NOTE: please do not include any spaces in task names
alm_phases = requirements

#Which system takes precedence in case of
#confliciting status. For example, if you mark
#an issue as Closed in JIRA and the task is TODO in
#SD Elements, it will be changed to DONE in SD Elemenets.
#If you mark a task as Done in SD Elements, but it's still
#Open in JIRA, the task will automatically revert back
#to TODO in SD Elements.
#Valid values:
#alm -> ALM tool (i.e JIRA) takes precedence
#sde -> SDE takes precedence
#Note that timezone is currently unsupported
#since JIRA does not provide timezone support
conflict_policy = alm

#Should HowTos be included in what's added
#to the ALM tools?
#Valid values are:
#True or False
how_tos_in_scope = True

###################################################
#### Advanced JIRA Settings                   #####
###################################################
          
#JIRA allows workflow customization. Customized workflows
#may make it difficult for the plugin to close a ticket
#in JIRA. Thus, if the workflow is non-standard then
#the plugin will not create transitions on issues
#Valid values: True, False
alm_standard_workflow = True

#issue type for new issues raised by SD Elements
jira_issue_type = Bug

#tranisition for a closed issue in JIRA
jira_close_transition = Close Issue

#transition for a re-opened issue in JIRA
jira_reopen_transition = Reopen Issue

#a comma delimited list of statuses that signify a task is 
#Done in JIRA
jira_done_statuses = Resolved,Closed

######Base settings, do not modify######
method = https
targets =  .
skip_hidden = True
interactive =True
askpasswd = False
auth_mode = basic
