; You can put this file in ~/.sdelint.conf
; OR use -c to specify the location of this file via arguments

[global]
; Specify the server to connect to
sde_server = newcastle.sdelements.com

; Specify the email (username) to be used
sde_user = ehsan@sdelements.com

; Password associated with the specified email
; WARNING: DO NOT STORE PASSWORDS in files that are publicly accessible
sde_pass = PASSWORD_PLACEHOLDER

; Set the global log level here. The lever from most
;     debug   -> Output all debug information 
;     verbose -> Includes informative statements about progress
;     default -> Normal output level
;     error   -> No log is outputted except for error
;     queit   -> No log is outputted except for fatal/unrecoverable errors
log_level = verbose

; Specifies the modules for while you want to see debug information
; Note that this overrides the value set in <log_level> for these modules
; debug_mods = sdelib.apiclient, sdelib.scanner
