[global]
###################################################
#### SD Elements server and project settings  #####
###################################################
#SD Elements server name, includes port
sde_server = m1.sdelements.com

#HTTP or HTTPs protocol
sde_method = https

#SD Elements user login email
sde_user = sdeuser

#SD Elements user password
sde_pass = sdepassword

#SD Elements application
sde_application = sdeappname

#SD Elements project
sde_project = sdeproject

###################################################
#### Rational Team Concert server and project settings       #####
###################################################

#RTC Server name, includes port
alm_server = jazz.net

#HTTP or HTTPs protocol
alm_method = https
              
#Username for RTC user that can:
# -create new issues for the project
# -read existing issues in the project
# -create transitions on issues (e.g. close an issue)
alm_user = jazzuser
              
#Password for above user. Note that this will be encrypted
#in future versions of the plugin
alm_pass = jazzpassword
              
#RTC project identifier
alm_project = Sample Project

#RTC context root (i.e. use 'ccm' for https://jazz.server.com/ccm/)
rational_context_root = ccm

#A comma-delimited list of statuses for tasks
#that you wish to import into the ALM.
#For example, if you only want to import
#tasks that are currently TODO in SD Elements
#then just enter TODO
#Valid values are:
#TODO,DONE,NA
sde_statuses_in_scope = TODO

#Should HowTos be included in what's added
#to the ALM tools?
#Valid values are:
#True or False
how_tos_in_scope = True

#SD Elements task phases that are in scope.
#Valid values: comma separated list-
#requirements,architecture-design,development,testing
#NOTE: please do not include any spaces in task names
alm_phases = requirements

#RTC only supports conflict policy, alm.
conflict_policy = alm

#Select certain tasks to sync
#Note that this will override the other selection options
#such as Statues, Phases, and Priority
#This can be comma separate or a single Task ID (Txx or CTxx)
#
#selected_tasks = T21,T22


###################################################
#### Advanced RTC Settings                 #####
###################################################

#[Optional] RTC label for items generated by SDElements
#alm_issue_label = SD-Elements

#SD Elements has the ability to map status 
#of an RTC work item to an SD Elements task.
#This can be non-trivial if workflow is
#customized. If this value is set to True
#then the plugin will attempt to synchronize
#task statuses. If not, then the plugin
#will simply add new tasks from SD Element
#into the RTC project without attempting
#to synchronized task status
#Valid values: True, False
alm_standard_workflow = True

#Initial 'status' to set for a new work item
rational_new_status = New

#a comma delimited list of statuses that signify a task is Done in Rally
#Note the first one will be used by SD Elements when representing a Done task
#in SD Elements inside of Rally
rational_done_statuses = Completed,Done

#[Optional] Specify a custom priority map
#This is a JSON representation of a list of ranges mapped to certain
#RTC priorities. Make sure to cover all priorities 1 to 10. Note that
#the ranges are inclusive
#alm_priority_map = {"1-3":"Low", "4-6":"Medium", "7-10":"High"}

######Base settings, do not modify######
interactive = True