[global]
###################################################
#### SD Elements server and project settings  #####
###################################################
#SD Elements server name, includes port
sde_api_token = abcdef1234567890abcdef1234567890$m1.sdelements.com

#SD Elements application
sde_application = SDEapp

#SD Elements project
sde_project = SDEproj

#SD Elements connection method (Avoid http in production env)
sde_method = https

###################################################
#### GitHub server and project settings         #####
###################################################

#GitHub Server name, includes port
alm_server = api.github.com

#HTTP or HTTPs protocol
alm_method = https
              
#Username for GitHub user that can:
# -create new issues for the project
# -read existing issues in the project
# -create transitions on issues (e.g. close an issue)
alm_user = github_user
              
#Password for above user. Note that this will be encrypted
#in future versions of the plugin
alm_pass = github_passsword
              
#GitHub Repository
alm_project = REPOOWNER/REPONAME
          
#A comma-delimited list of statuses for tasks
#that you wish to import into the ALM.
#For example, if you only want to import
#tasks that are currently TODO in SD Elements
#then just enter TODO
#Valid values are:
#TODO,DONE,NA
sde_statuses_in_scope = TODO

#Should HowTos be included in what's added
#to the ALM tools?
#Valid values are:
#True or False
how_tos_in_scope = True

# Synchronize all SD Elements tasks having the following
# minimum priority
# Default: 1 (all tasks)
#sde_min_priority = 1

#SD Elements task phases that are in scope.
#Valid values: comma separated list-
#requirements,architecture-design,development,testing
#NOTE: please do not include any spaces in task names
alm_phases = requirements

#Which system takes precedence in case of
#confliciting status. For example, if you mark
#an issue as Closed in JIRA and the task is TODO in
#SD Elements, it will be changed to DONE in SD Elemenets.
#If you mark a task as Done in SD Elements, but it's still
#Open in JIRA, the task will automatically revert back
#to TODO in SD Elements.
#Valid values:
#alm -> ALM tool (i.e JIRA) takes precedence
#sde -> SDE takes precedence
#Note that timezone is currently unsupported
#since JIRA does not provide timezone support
conflict_policy = alm

#[Optional] Select certain tasks to sync
#Note that this will override the other selection options
#such as Statues, Phases, and Priority
#This can be comma seperate or a single Task ID (Txx or CTxx)
#
#selected_tasks = T21,T22

#[Optional] Specify a custom priority map
#This is a JSON representation of a list of ranges mapped to certain
#priority names. Make sure to cover all priorities 1 to 10. Note that
#the ranges are inclusive
#alm_priority_map = {"1-6":"Trivial", "7-9":"Major", "10":"Blocker"}

#[Optional] ALM Project Version
#This is the target project version we want to sync the tickets to
#If there is a matching ticket in prior versions, we will reopen
#and set the version to this. Otherwise, we'll create a new ticket.
#project_version = NewRelease

###################################################
#### Advanced GitHub Settings                   #####
###################################################
          
#This value indicates whether or not task status
#should be synchronized. In cases of difficult
#custom workflow that can't easily be integrated,
#you may wish to set this to False.
alm_standard_workflow = True

#issue type for new issues raised by SD Elements
github_issue_type = GITHUB_LABEL

#transition for a closed issue in GitHub
github_new_status = open

#a comma delimited list of statuses that signify a task is 
#Done in GitHub
github_done_statuses = closed

#GitHub label for duplicate issues
github_duplicate_label = duplicate

######Base settings, do not modify######
targets =  .
skip_hidden = True
interactive = True
