[global]
###################################################
#### SD Elements server and project settings  #####
###################################################
#SD Elements server name, includes port
server = m1.sdelements.com

#SD Elements user login email
email = sdeuser

#SD Elements user password
password = sdepassword

#SD Elements application
application = sdeappname

#SD Elements project
project = sdeproject

###################################################
#### Rally server and project settings       #####
###################################################

#Rally Server name, includes port
alm_server = rally1.rallydev.com

#HTTP or HTTPs protocol
alm_method = https
              
#Username for Rally user that can:
# -create new issues for the project
# -read existing issues in the project
# -create transitions on issues (e.g. close an issue)
alm_id = rallyid
              
#Password for above user. Note that this will be encrypted
#in future versions of the plugin
alm_password = rallypassword
              
#Rally project identifier
alm_project = Sample Project

#Rally workspace
rally_workspace = Workspace 1


#A comma-delimited list of statuses for tasks
#that you wish to import into the ALM.
#For example, if you only want to synchronize
#tasks that are currently TODO in SD Elements
#then just enter TODO
#Valid values are:
#TODO,DONE,NA
sde_statuses_in_scope = TODO,DONE,NA

#Should HowTos be included in what's added
#to the ALM tools?
#Valid values are:
#True or False
how_tos_in_scope = True

#SD Elements task phases that are in scope.
#Valid values: comma separated list-
#requirements,architecture-design,development,testing
#NOTE: please do not include any spaces in task names
alm_phases = requirements

#Which system takes precedence in case of
#confliciting status. For example, if you mark
#an issue as Closed in Rally and the task is TODO in
#SD Elements, it will be changed to DONE in SD Elemenets.
#If you mark a task as Done in SD Elements, but it's still
#Open in Rally, the task will automatically revert back
#to TODO in SD Elements.
#Valid values:
#alm -> ALM tool (i.e Rally) takes precedence
#sde -> SDE takes precedence
conflict_policy = alm


###################################################
#### Advanced Rally Settings                 #####
###################################################

          
#SD Elements has the ability to map status 
#of a Rally story to an SD Elements task.
#This can be non-trivial if workflow is
#customized. If this value is set to True
#then the plugin will attempt to synchronize
#task statuses. If not, then the plugin
#will simply add new tasks from SD Element
#into the Rally project without attempting
#to synchronized task status
#Valid values: True, False
alm_standard_workflow = True

#card type for new cards created by SD Elements
rally_card_type = Story

#Initial 'status' to set for a new card
rally_new_status = Defined

#a comma delimited list of statuses that signify a task is Done in Rally
#Note the first one will be used by SD Elements when representing a Done task
#in SD Elements inside of Rally
rally_done_statuses = Completed,Accepted


######Base settings, do not modify######
method = https
targets =  .
skip_hidden = True
interactive =True
askpasswd = False
auth_mode = basic
