###################################################
#### SD Elements server and project settings  #####
###################################################

[global]
#SD Elements server name, includes port
server = newcastle.sdelements.com

#SD Elements user login email
email = user@server.com

#SD Elements user password
password = userpassword

#SD Elements application
application = sde_app

#SD Elements project
project = sde project

###################################################
#### ThreadFix integration settings            #####
###################################################

#WhiteHat location
tf_method = https
tf_server = server
tf_context_root = threadfix

#Authentication
tf_api_key = aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa

#Application description
tf_application = woo